<div ng-app="ejemplo" ng-controller="BaseCtrl">
    <h1>Hello word</h1>
    <ul>
        <li ng-repeat="thing in things"></li>
    </ul>
</div>


<script>
    angular.module("ejemplo",[]);
    angular.module('ejemplo').controller('BaseCtrl', ['$scope', function($scope){

        $scope.things=[{
            id:12345,
            name: 'foo'
        }];
    }]);
</script>